.card {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 10px;
  color: white;
  padding: 15px;
  position: relative;
}

.card-gradient-top {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 25%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.5;
  background-image: linear-gradient(
    to top,
    hsla(0deg 0% 0% / 0%) 0%,
    hsla(0deg 0% 0% / 1.3%) 8.1%,
    hsla(0deg 0% 0% / 4.9%) 15.5%,
    hsla(0deg 0% 0% / 10.4%) 22.5%,
    hsla(0deg 0% 0% / 17.5%) 29%,
    hsla(0deg 0% 0% / 25.9%) 35.3%,
    hsla(0deg 0% 0% / 35.2%) 41.2%,
    hsla(0deg 0% 0% / 45%) 47.1%,
    hsla(0deg 0% 0% / 55%) 52.9%,
    hsla(0deg 0% 0% / 64.8%) 58.8%,
    hsla(0deg 0% 0% / 74.1%) 64.7%,
    hsla(0deg 0% 0% / 82.5%) 71%,
    hsla(0deg 0% 0% / 89.6%) 77.5%,
    hsla(0deg 0% 0% / 95.1%) 84.5%,
    hsla(0deg 0% 0% / 98.7%) 91.9%,
    hsla(0deg 0% 0% / 100%) 100%
  );
}

.card-border {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid var(--color-domain);
  border-radius: 10px;
}

.card.domain-chaos {
  --color-domain: var(--color-domain-chaos);
}

.card .header {
  display: flex;
  justify-content: space-between;
  line-height: 1.25em;
  font-size: 24px;
  position: relative;
}

.card .header .cost {
  display: flex;
  gap: 5px;
}

.card .header .mana {
  display: flex;
}

.card .avatar {
  aspect-ratio: 5 / 4;
  border: 2px inset var(--color-domain);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.card-avatar-gradient-bottom {
  position: absolute;
  width: 100%;
  height: 25%;
  pointer-events: none;
  opacity: 0.75;
  background-image: linear-gradient(
    to bottom,
    hsla(0deg 0% 0% / 0%) 0%,
    hsla(0deg 0% 0% / 1.3%) 8.1%,
    hsla(0deg 0% 0% / 4.9%) 15.5%,
    hsla(0deg 0% 0% / 10.4%) 22.5%,
    hsla(0deg 0% 0% / 17.5%) 29%,
    hsla(0deg 0% 0% / 25.9%) 35.3%,
    hsla(0deg 0% 0% / 35.2%) 41.2%,
    hsla(0deg 0% 0% / 45%) 47.1%,
    hsla(0deg 0% 0% / 55%) 52.9%,
    hsla(0deg 0% 0% / 64.8%) 58.8%,
    hsla(0deg 0% 0% / 74.1%) 64.7%,
    hsla(0deg 0% 0% / 82.5%) 71%,
    hsla(0deg 0% 0% / 89.6%) 77.5%,
    hsla(0deg 0% 0% / 95.1%) 84.5%,
    hsla(0deg 0% 0% / 98.7%) 91.9%,
    hsla(0deg 0% 0% / 100%) 100%
  );
}

.card .avatar .properties {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  position: relative;
}

.card .avatar .properties .attributes {
  display: flex;
  gap: 10px;
}

.card .avatar .properties .attributes img {
  height: 1em;
}

.card .description {
  background-color: hsla(0deg 0% 0% / 75%);
  border: 2px inset var(--color-domain);
  padding: 10px;
  font-size: 24px;
  line-height: 1.5;
  position: relative;
}

.card .description .mana {
  height: 1em;
}
